{% extends "base.html" %}

{% block content %}

    <script src="/static/js/index.js"></script>

    <h1>Visualizador de puntos de parada</h1>

    <div class="formulario">
        <h2>Subir ficheros CSV</h2>

        <div class="file-section two-columns">
            <div class="column">
                <div class="file-A-section">
                    <form method="POST" action="{{ url_for('fileUpload.uploadFileAToBackend') }}" enctype="multipart/form-data">
                        <label for="fileA">Seleccione el fichero A</label>
                        <input type="file" name="fileA" accept=".csv" id="fileA-input" required><br><br>
                        <input type="submit" value="Cargar Fichero A" id="fileA-input-btn" disabled title="Se debe seleccionar un fichero"><br><br><br><br>
                        <textarea name="fileA-logs" id="fileA-logs" placeholder="Esperando un fichero A..." disabled></textarea>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="file-BC-section">
                    <form method="POST" action="{{ url_for('fileUpload.uploadFilesBCToBackend') }}" enctype="multipart/form-data">
                        <label for="fileB">Seleccione el fichero B</label>
                        <input type="file" name="fileB" accept=".csv" id="fileB-input" required><br><br>
                        <label for="fileC">Seleccione el fichero C</label>
                        <input type="file" name="fileC" accept=".csv" id="fileC-input" required><br><br>
                        <input type="submit" value="Cargar Ficheros B y C" id="fileBC-input-btn" disabled title="Se deben seleccionar los dos ficheros"><br><br>
                        <textarea name="fileBC-logs" id="fileBC-logs" placeholder="Esperando ficheros B y C..." disabled></textarea>
                    </form>
                </div>
            </div>
        </div>
        <button class="accept-btn" id="estadisticasBtn" disabled>Descargar estadísticas</button>
    </div>
    <br>

    {% if session.get('uploaded_files') %}
    <div class="uploaded-files">
        <h2>📂 Ficheros cargados en sesión</h2>
        <ul>
            {% for key, path in session['uploaded_files'].items() %}
                <li><strong>{{ key }}:</strong> {{ path.replace('\\', '/').split('/')[-1] }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    <h2>Generar tabla y mapa</h2>
    <form action="{{ url_for('generateResults.generar_mapa') }}" method="get">
        <button type="submit" class="generate-btn" id="mapaBtn">Ver mapa</button>
    </form><br>
    <form action="{{ url_for('generateResults.unifyFiles') }}" method="get">
        <h2>Unificar ficheros</h2>
        <input type="text" name="codiredMain" id="codiredMain" class="codiredMain" placeholder="Codired" minlength="7" maxlength="7" required>
        <button type="submit" class="generate-btn" id="unifyBtn" disabled>Unificar todos los ficheros</button>
    </form>


    <h2>Sesión</h2>
    <form action="{{ url_for('main.logout') }}" method="get" onsubmit="return confirmLogout();">
        <button type="submit" class="logout-btn">Limpiar sesión</button>
    </form>

{% endblock %}