{% extends "base.html" %}

{% block content %}

    <h1>Visualizador de puntos de parada</h1>

    <div class="formulario">
        <h2>Elegir fichero A</h2>
        <form method="POST" action="{{ url_for('subidaArchivos.subir_archivo_A') }}" enctype="multipart/form-data">
            <input type="file" name="FicheroA" accept=".csv" required>
            <input type="submit" value="Subir Fichero A">
        </form>
        <br>

        <h2>Elegir fichero B</h2>
        <form method="POST" action="{{ url_for('subidaArchivos.subir_archivo_B') }}" enctype="multipart/form-data">
            <input type="file" name="FicheroB" accept=".csv" required>
            <input type="submit" value="Subir Fichero B">
        </form>
        <br>

        <h2>Elegir fichero C</h2>
        <form method="POST" action="{{ url_for('subidaArchivos.subir_archivo_C') }}" enctype="multipart/form-data">
            <input type="file" name="FicheroC" accept=".csv" required>
            <input type="submit" value="Subir Fichero C">
        </form>
        <br>
    </div>

    <div class="formulario">
        <h2>Seleccionar PDAs</h2>
        <select name="pdaSelect" id="pdaSelect" multiple>
            
        </select>
    </div>

    <div class="formulario">
        <h2>Seleccionar Fechas</h2>
        <label for="fechaInicio">Fecha de inicio:</label>
        <select name="fechaInicio" id="fechaInicio">

        </select>

        <label for="fechaFin">Fecha de final:</label>
        <select name="fechaFin" id="fechaFin">

        </select>
        <br>
    </div>
    <br>
    <div class="acciones">
        <button type="button">Generar mapa</button>
        <button type="button">Detectar paradas</button>
        <button type="button">Generar mapa con puntos de paradas</button>
        <button type="button">Gráfica velodad/tiempo</button>
    </div>

    <div class="mapa">
        <h2>Mapa generado</h2>
        <iframe id="mapaRenderizado" src="" width="100%" height="500px" style="border:1px solid #ccc;"></iframe>
        <br>
        <a id="descagarMapa" href="#" target="_blank">Descargar Mapa</a>
    </div>

{% endblock %}